@font-face {
    font-family: Sofia;
    src: url(/Fonts/SofiaSans-VariableFont_wght.ttf);
}

body {
    
    margin:0px auto ;
    max-width: 1600px;
}

.my-img {
    animation-duration: 0.1s;
    
}

@-webkit-keyframes rotateIn {
    0% {
        -webkit-transform: rotate(-200deg);
        transform: rotate(-200deg);
        opacity: 0
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

@keyframes rotateIn {
    0% {
        -webkit-transform: rotate(-200deg);
        transform: rotate(-200deg);
        opacity: 0
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

.my-img>img:hover{
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn;
    -webkit-transform-origin: center;
    transform-origin: center;
    animation-duration: 0.5s;
}

.my-nav {
    position: sticky;
    top: 0px;
    background-color: #0065C3;
    z-index: 1000;
}

.my-theme>li {
    text-transform: uppercase;
    color: red;
}

.nav-item {
    margin-right: 1.5rem;
    font-family: Sofia;
    font-size: .975rem;
    cursor: pointer;
    font-weight: 800;
    
}

.nav-item>a {
    color: #ffffff;
}

.navbar-brand {
    margin-right: 50px;
}

.pepsi-btn {
    width: 200px;
    font-size: 1em;
    font-weight: 600;
    padding: 5px 20px;
    border-radius: 1.8em;
    background: transparent;
    color: #fff;
    font-family: Sofia Pro;
    /* height: 2.3em; */
    border: 2px solid #fff;

}

@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotateX(90deg);
        transform: perspective(400px) rotateX(90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }

    40% {
        -webkit-transform: perspective(400px) rotateX(-20deg);
        transform: perspective(400px) rotateX(-20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    60% {
        -webkit-transform: perspective(400px) rotateX(10deg);
        transform: perspective(400px) rotateX(10deg);
        opacity: 1
    }

    80% {
        -webkit-transform: perspective(400px) rotateX(-5deg);
        transform: perspective(400px) rotateX(-5deg)
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px)
    }
}

@keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotateX(90deg);
        transform: perspective(400px) rotateX(90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }

    40% {
        -webkit-transform: perspective(400px) rotateX(-20deg);
        transform: perspective(400px) rotateX(-20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    60% {
        -webkit-transform: perspective(400px) rotateX(10deg);
        transform: perspective(400px) rotateX(10deg);
        opacity: 1
    }

    80% {
        -webkit-transform: perspective(400px) rotateX(-5deg);
        transform: perspective(400px) rotateX(-5deg)
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px)
    }
}

.pepsi-btn:hover {

    background-color: #ffffff;
    color: #0065C3;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInX;
    animation-name: flipInX;
}
.main-bottle{
    display: flex;
    justify-content:center;
    align-items: center;
    background-image: url(/images/background1.png);
    color: #fff;
    overflow: hidden;
       
}
.left-side{
    height: 678px;
    width: 800px;
    margin-left: -50px;
    margin-top: 50px;
}
   
.right-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 400px;

}
.right-side>button {
    margin: 51px 0px 25px 0px;
}

/* *--------------------------------bannar 2 -------------------------------------------------* */
.second-banner{
    background-color: black;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 668px;
}
.img11{
    position: relative;
    width: 880px;
    height: 100%;
    
}
.img1{
    height: 100%;
    width: 100%; 
        
}
.img22{
    position: absolute;
    top: 100px;
    left: 490px;
    
}
.img2{
    width: 186px; 
     
}
.img34{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 100%;
}
.img3{
    width: 100%;
}
.img4{
    width: 60%;
    margin-top: 22px;
}
.img56{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.portion1{
    width: 225px;
    height: 150px;
    background-color: #fff;
}
.portion2{
    width: 225px;
    height: 150px;
    background-color: #fff;
}
.img78{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 14px;
}
.portion3{
    width: 225px; 
}
.portion4{
    width: 225px;  
}

/* ------------------------------banner #3 -------------------------------------------------- */
.third-banner{
    background-image: url(/images/banner3/banner3-bg.png);
    /* background-repeat: no-repeat; */
    background-size: cover;
    width: 100%;
    background-position: 50% center;
    display: flex;
    justify-content: space-evenly;
}
.b3-img1{
    width: 371px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.b3-img2{
    width: 362px;
    margin-top: 180px;
    margin-left: 50px;
}
.b3-h{
    font-weight: 1000;
    font-size: 20px;
    text-align: center;
    color: #fff;

}
.banner3-btn{
    margin-left: 120px;
    padding: 0.4em 1.85em;
}
/* ------------------------------Banner #4 ------------------------------------------------------- */

.banner4-main{
    width: 100%;
    height: 500px;
    background-color: #265CC5;
}
.banner-img11{
    width: 400px;
    background-color: #1437BF;
}
.banner-img11 > div > img{
    width: 100% ;
}
.banner-img11 > div > h4{
    
}


/* --------------------------------------banner # 4----------------------------------------------- */

