@font-face {
    font-family:source;
    src: url(/fonts/source-sans-pro.regular.ttf);
}
@font-face{
    font-family:opensans ;
    src: url(/fonts/open-sans.regular.ttf);
}



.main{
    width: 100%;
    height: 100%;
    font-family: source;
}

.navbar {
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 8px 16px 16px;;
    
}

.navbar1 {
    display: flex;
    gap: 12px;
    text-align: center;
    align-items: center;
}
.navbar1>img{
    width: 28px;
    height: 30px;
}

.navbar1>p{
    color: #F17228;
    font-size: 32px;
    line-height: 37px;
    font-family:source;
    font-weight: 700;  
}
.navbar1>p>span{
    color: #FFB30E;
}
/* ************************************************************************************** */

.navbar2>p>{
    color:#424242;
    font-style: bold;
    font-weight: 700;
    line-height: 18px;
    font-family: source;
}

.navbarpara2{
    font-family:opensans;
    color:  #424242;
    font-size: 18px;
    font-weight: 400;
}

.navpara2{
    font-family:opensans;
}

.navbar2>p>i{
    color: #FFB30E;
    gap: 9px;
    
}

.nav3{
    display: flex;
    align-items: center;
    width: 272px;
    height: 46px;
    gap: 30px;
}

.navicon{
    display: flex;
    align-items: center;
    font-family: source;
    gap: 8px;
}

.navicon>i{
   color:#FFB30E;
   width: 100%;
   height: 661px;
}

.nav3btn>button{
    display: flex;
    gap: 10px;
    border-radius: 8px;
    padding: 9px 11px 10px 11px;
    background-color: white;
    color:#FFB800;
    gap: 10px;
    margin: -23px;
}

/* ----------------------------------banner1----------------------------- */
.banner1{
    background: #fbc527; 
    height: 501px;
    width: 100%;
}

.rigdown{
    display: flex;
    width: 430px;
    height: 65px;
    background-color: white;
    gap: 15px;
}

.rigleft{
    /* position: absolute; */
    border-radius: 8px;
    
}

.rigleft>button{
    width: 100%;
    height: 25px;
}

.rigleft>button>span{
    color: #F17228;
    display: flex;
}

.rigleft>button>i {
    color: #F17228;
}

.rigrig>button>i{
    color: #757575;
}

