.color-w{
    background-color: #EAEACF;
}
.color-g{
    background-color:  #769656;
}
.black-img{
     padding-left:3%;
}
.black-img img{
   height: 20px;
   width: 10px;
}
.center-block{
    width: 20px;
    height:25px;
}
.white-img{
    padding-left: 2%;
}
.white-img img{
    width:15px;
     height:20px;
}